# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable tern': 'tern:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tern'
      'submenu': [
        { 'label': 'Start server', 'command': 'tern:start-server' }
        { 'label': 'Stop server', 'command': 'tern:stop-server' }
      ]
    ]
  }
]
