# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [{
      label: 'Enable tern',
      command:  'tern:toggle'
  }]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tern'
      'submenu': [
        { 'label': 'Start server', 'command': 'tern:start-server' }
        { 'label': 'Stop server', 'command': 'tern:stop-server' }
      ]
    ]
  }
]
